
/* Your CSS Code here. */
.holder{
	dispaly:grid;
	 grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
	
	width:200px;
	height:200px;
}

.item {
  background-color: lightgreen;
  padding: 20px;
  text-align: center;
	
	}